$cp-width: 400px;
$cp-height: 400px;
$cp-padding: 4px;
$cp-form-height: 30px;

.cmd-palette {
    h5,
    ul,
    p {
        margin: 0;
        padding: 0;
    }

    position: absolute;
    z-index: 10;
    background: #ebedef;
    top: 5px;
    left: 50%;
    width: $cp-width;
    margin-left: -($cp-width / 2);
    max-height: $cp-height;
    padding: $cp-padding;
    padding-bottom: 0;

    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
    ul {
        list-style: none;
    }
    .alias {
        display: flex;
        justify-content: space-evenly;
        > div {
            font-size: 12px;
            border: 1px solid #ccc;
            padding: 2px 10px;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                background: #fff;
            }
        }
    }
    .cp-form {
        input {
            width: 100%;
            background: #fff;
            border: 0;
            height: $cp-form-height;
            font-size: 14px;
            padding-left: $cp-padding;
            padding-right: $cp-padding;
            &:focus {
                outline: none;
            }
        }
        padding-bottom: $cp-padding;
    }
    .cp-result {
        max-height: $cp-height - $cp-form-height - $cp-padding * 3;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: $cp-padding;

        li {
            user-select: none;
            padding: $cp-padding * 2;

            h5 {
                font-weight: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 1.5em;
                line-height: 1.5em;
                overflow: hidden;
                margin-bottom: $cp-padding;
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 14px;
                }
                em {
                    font-style: normal;
                    font-size: 12px;
                    color: #666;
                }
            }

            $desc-line-height: 1.5em;
            p {
                font-size: 12px;
                max-height: 2 * $desc-line-height;
                line-height: $desc-line-height;
                overflow: hidden;
            }
            h5:last-child {
                margin-bottom: 0;
            }
            &.active {
                background: #c7cbd1;
            }
        }
    }
}
